<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<section class="register-container">
    <div>
        <p><i>ALL FIELDS ARE REQUIRED.</i></p>
        <form class="register" action="/account/register" method="post">
            <label>First Name:</label>
            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
            <label>Last Name:</label>
            <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">
            <label>Email:</label>
            <input type="text" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">
            <label>Password:</label>
            <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <div><p><i>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</i></p></div>
            <button id="show-password">Show Password</button>
            <button>Register</button>
        </form>
    </div>
</section>